* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Righteous', cursive;
}

html {
	scroll-behavior: smooth;
}

.btn a {
	text-decoration: none;
	color: #fff;
}

.btn {
	background-color: #0C9AE1;
	border-color: #0C9AE1;
}

.btn2 {
	background-color: #0C9AE1;
	color: #010729;
	border-color: #0C9AE1;
}

.btn2 a {
	color: #010729;
}

.btn:hover {
	background-color: #BCD0EC;
	border-color: #BCD0EC;
	color: #010729;
}

#port-jumbo {
	border: 8px solid #DC007D;
	padding: 8em 4em;
	border-radius: 10px;
	width: 60%;
}

#jumbo-div {
	height: 100vh;
	padding-top: 10%;
	/*background-color: #251415;*/
	border-radius: 0;
	/*margin: 0; */
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: linear-gradient(rgba(63, 191, 178, 0.75), rgba(0, 88,255, 0.45)), url('../images/pexels-photo.jpg');
	/*background-color: #330033;*/
	/*background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23404' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23505'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");*/
}

.jumbotron h1 {
	color: #DC007D;
	font-size: 70px;
}

.lead {
	color:  #BCD0EC;
	font-size: 20px;
}

p {
	text-align: center;
}

.card-title {
	text-align: center;
}

.display-3 {
	background-color: #DC007D;
	color: #BCD0EC;
	border-radius: 5px;
}

.p-3 {
	background-color:  #0C9AE1;
	color:#010729;
}

.card {
	border: 2px solid #0C9AE1;
}

.cap1 {
	padding-top: 15%;
}

.pt-5 {
	font-family: 'Courgette', cursive;
}


/*homepage*/
#home-landing {
	background-color: #333;
	color: #fff;
	padding: 20%;
	margin-bottom: 0;
}

.carousel-home {
	height: 100vh;
}

#carousel-home img {
	height: 50vh;
}

/*end homepage*/

/*about page*/
#jumbotron-about {
	background-color: #141414; /*off black*/
	height: 90vh;
	border-radius: 0;
}

#landing-about {
	color: #f2f2f2;
	font-size: 5em;
	padding-top: 20vh;
	letter-spacing: 5px;
	font-family: 'Montserrat', sans-serif;
}

.about-tags {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}

#mission {
	background-color: #141414; /*off black*/
	color: #f2f2f2; /*off white*/
	height: 100%;
}

#vision {
	background-color: #f2f2f2;
	color: #141414;
	height: 100%;
}

/*end about page*/


 /*start Contact page*/







 
 /*end Contact page*/



/*media Queries*/
/*mobile style*/
@media only screen and (max-width:415px) {
	#jumbo-div {
		height: 100%;
	}

	#port-jumbo {
		width: 100%;
		margin-top: 10vh;
		padding-top: 5em;
		padding-bottom: 5em;
	}

	.jumbotron h1 {
		font-size: 20px;
	}

	.lead {
		font-size: 15px;
	}

	.display-3 {
		font-size: 30px;
		padding: 5px;
	}

	.card {
		margin-bottom: 5px;
		position: center;
	}

	.p-3 {
		font-size: 15px;
	}


}

/*tablet style*/
@media only screen and (min-width:410px) and (max-width:960px) {
	.cap1 {
	padding-top: 30%;
}
	.cap3 {
	padding-top: 15%;
}
}

/*Desktop style*/
@media only screen and (min-width:961px) {
	
}